<h1><%= @trip.name %></h1>
<br/>
<br/>
<% @trip.trails.each do |trail| %>
  <h3>Trail: <%= trail.name %></h3>
  <p>Length: <%= trail.length %></p>
<% end %>
  <h4>Length of All Trails: <%= @trip.total_length %></h4>
  <h4>Average Length of All Trails: <%= @trip.average_length %></h4>
  <% @trip.trails.each do |trail| %>
  <% if trail.length == @trip.longest_length %>
      <h4>Longest Trail on the Trip: <%= trail.name %></h4>
  <% end %>
<% end %>
